$w:#ffffff;
$b:#000000;
$s:#C0C0C0;

body{
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

a{
    color: $b;
    text-decoration: none;
}

section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    h2{
        text-align: center;
    }
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    ul{
        display: flex;
        li{
            padding-left: 20px;
        }
    }
}

.mainvisual{
    background-image: url(../image/mainvisual-pc.jpg);
    background-position: center;
    width: 100%;
    height: 80vh;
}

section.gallery{
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        li{

            img{
                width: 100%;
            }
        }
    }
}

section.news{
    dl{
        display: grid;
        grid-template-columns: 10em auto;
        dt,dd{
            border-top: 1px solid $s;
            padding: 15px;
        }
        dt{
        }
        dd{
            margin-left: 0;
        }
    }
}

footer{
    background-color: $b;
    color: $w;
    text-align: center;
    p{
        margin: 0;
    }
}